DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="change-this-secret-in-production"
NEXTAUTH_URL="http://localhost:3000"

# For production on server:
# NEXTAUTH_URL="https://mybestsite.com.ng"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="noreply@neuro.ru"
